---
// CONSTANTS
import { BRAND_EXPERIENCE_GIF } from "../../constants/cdn";
---

<section class="w-full">
	<img src={BRAND_EXPERIENCE_GIF} alt="Brand Experience Banner"  class="mx-auto" />
</section>