---
// CONSTANTS
import { BRAND_EXPERIENCE_GIF } from "../../constants/cdn";
import Container from "../../layouts/Container.astro";
---

<Container>
	<section class="w-full my-14">
		<img src={BRAND_EXPERIENCE_GIF} alt="Brand Experience Banner"  class="mx-auto" />
	</section>
</Container>	