---
// COMPONENTS
import Container from "../../layouts/Container.astro";
import CaseSingle from "./CaseSingle.astro";

const { work } = Astro.props
const totalCases = work.length
---

<Container>
	<section class="flex flex-col gap-8">
		{

			work.map((c, idx) => {

				return (
					<CaseSingle title={c.title} img={c.cover} color={c.color_code} current={idx + 1} total={totalCases} />
				)

			})

		}
	</section>
</Container>