---
import {Icon} from "astro-icon/components";
---

<section class="z-20 p-32">
	<p class="uppercase text-3xl">contact</p>

	<a href="https://www.starfishco.com/contact">
		<div class="group flex items-center gap-2 cursor-pointer">
			<span class="font-bold text-8xl">Let's </span>
			<div class="flex items-baseline gap-2">
				<span class="text-8xl">talk</span>
				<Icon name="arrow" class="group-hover:translate-x-4" font-size="2.8rem" class="rotate-45  group-hover:translate-x-4 transition transform duration-300"/>
			</div>	
		</div>
	</a>
</section>