---

// IMPORTING CONSTANTS
import { HOME_INTRO_VIDEO } from "../../constants/cdn";
---

<section class="bg-zinc-600 h-screen realtive">
	<video
        loop={ true }
        autoplay={ true }
        muted={ true }
        playsinline={ true }
        preload="auto"
        class="h-full w-full object-cover"
    >
        <source src={HOME_INTRO_VIDEO} type="video/mp4"/>
    </video>

	<div class="absolute bottom-14 flex justify-center w-full">
		<img src="mouseScroll.gif" alt="Mouse Scroll Animation" class="h-14" />
	</div>
</section>