---
---

<section class="z-10 fixed bottom-14 flex justify-center w-full">
	<a class="group h-16 w-16 hover:w-32 rounded-full bg-black/40 flex items-center justify-center cursor-pointer transition-all delay-400 duration-200"
		href="https://www.starfishco.com/works/"
		target="_blank"
	>
		{/* On hover the svg will be diabled and text will be enabled */}
		<img src="/see-cases.svg" alt="" class="group-hover:hidden" />
		<p class="hidden group-hover:block text-white">view cases</p>
	</a>
</section>