---
import Container from "./Container.astro";
---

<section class="z-20 border-t border-black pb-24">
	<Container>
		<div class="flex items-center justify-between p-8">
			<div class="flex items-center gap-16">
				<p>&copy; 2024 Starfish</p>
				<a href="http://localhost:4321/#">Privacy Policy</a>
			</div>
			<div class="flex items-center gap-4">
				<a href="https://www.linkedin.com/company/starfish-brand-experience-design/">
					<img src="/linkedin.webp" alt="Linked IN Logo" class="h-6 w-6" />
				</a>
				<a href="https://instagram.com/starfish.nyc?igshid=YWJhMjlhZTc=">
					<img src="/Instagram.png" alt="Intagram Logo" class="h-6 w-6" />
				</a>	
			</div>
		</div>
	</Container>
</section>