---
import {Icon} from "astro-icon/components";
---

<button class="group flex items-center gap-4"
	onclick="window.menu.showModal()"
>
	<ul class="space-y-2">
		<Icon name="line" font-size="2px" />
		<Icon name="line" font-size="2px" />
		<Icon name="line" font-size="2px" />
	</ul>
	<p class="hidden lg:block">Menu</p>
</button>