---
import Container from "../../layouts/Container.astro";
---

<section class="grow h-full w-full py-20 md:pt-32 flex flex-col justify-center items-center">
	<Container>
		<div class="space-y-10 mx-auto">
			<p class="text-3xl lg:text-7xl uppercase text-saritasa_black text-center">404 - Page not found</p>

		</div>
		<a href="/" class="flex justify-center">
			<buttonu class="px-4 py-2 rounded bg-black text-white">Go Home</button>
		</a>
	</Container>
</section>	